@import "../VarsScss/variables";
@import "../VarsScss/mixins";

.mainCont {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  width: 100vw;
  max-width: 1440px;
  border: 1px solid $primary-color;
  box-sizing: border-box;
  @include mobile {
    border: none;
  }
}

.perp {
  z-index: -1;
  border: 0;
  position: absolute;
  left: 50%;
  top: -50%;
  height: 100dvh;
  width: 1px;
  opacity: 0.1;
  background-color: $primary-color;
  max-height: 1440px;

  @include mobile {
    display: none;
  }
}

.circleNumbCont {
  position: relative;
  margin: auto;
  margin-top: 215px;
  margin-bottom: 56px;
  width: fit-content;
  display: flex;
  flex-direction: column;

  @include mobile {
    margin-top: 168px;
    width: 100vw;
    height: 73px;
  }
}

.par {
  @extend .perp;
  top: 45%;
  left: -85%;
  width: 100vw;
  max-width: 1440px;
  height: 1px;
}

.pageTitleCont {
  top: 170px;
  left: 0;
  position: absolute;

  @include mobile {
    top: 59px;
    left: 20px;
  }
}

.pageTitle {
  position: relative;
  width: 353px;
  height: 134px;
  padding-left: 78px;
  margin: 0;
  font-size: $large-font-size;
  line-height: 67px;
  color: $primary-color;

  @include mobile {
    width: 123px;
    height: 48px;
    font-size: 20px;
    padding-left: 0;
    line-height: 24px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0px;
    height: 100%;
    width: 5px;
    @include gradient-line;

    @include mobile {
      display: none;
    }
  }
}
