.scale {
  position: relative;
  margin-top: calc(100dvh / 1080px * 170px);
}
.mainCont {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  width: 100vw;
  max-width: 1440px;
  border: 1px solid #42567a;
  box-sizing: border-box;
}
.perp {
  z-index: -1;
  border: 0;
  position: absolute;
  left: 50%; /* Центрирование по горизонтали */
  top: -10px;
  height: 100dvh; /* Задайте высоту линии */
  width: 1px; /* Ширина вертикальной линии */
  opacity: 0.1;
  background-color: #42567a; /* Цвет линии */
}
.par {
  z-index: -1;
  border: 0;
  position: absolute;
  top: 480px; /* Расстояние от верхнего края */
  left: 0;
  width: 100vw; /* Ширина горизонтальной линии */
  height: 1px; /* Высота горизонтальной линии */
  opacity: 0.1;
  background-color: #42567a; /* Цвет линии */
}
.pageTitle {
  position: relative;
  width: 353px;
  height: 134px;
  padding-left: 78px;
  margin: 0;
  font-size: 56px;
  line-height: 67px;
  color: #42567a;
}
.pageTitle::before {
  content: "";
  position: absolute;
  left: 0px;
  height: 100%; /* Высота границы */
  width: 5px; /* Ширина границы */
  background: linear-gradient(180deg, #3877ee -5%, #ef5da8 85%);
}
