@import "../../VarsScss/variables";
@import "../../VarsScss/mixins";

.navBtnsCont {
  margin-left: -372px;
  margin-top: clamp(-25px, -3vw, -44px);
  width: 120px;
  height: 88px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include mobile {
    margin: 0;
    margin-top: 320px;
    margin-left: 20px;
    width: 58px;
    height: 50px;
  }
}

.counter {
  color: $primary-color;
  font-size: $small-font-size;
  font-weight: 400;
  margin-bottom: auto;
}

.navBtns {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.btn {
  border: 1px solid $border-color;
  background-color: $white;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  font-size: clamp(15px, 2vw, 25px);
  border-radius: 50%;

  @include mobile {
    width: $mobile-button-size;
    height: $mobile-button-size;
    font-size: 15px;
    margin-top: 11px;
  }

  &:disabled {
    opacity: 0.5;
  }
}
