.numbCont {
  position: absolute;
  display: flex;
  gap: 89px;
  width: 100%;
  height: 160px;
  top: 185px;
  left: -217px;
  font-size: 200px;
  font-weight: 700;
  align-items: center;
  pointer-events: none;
}
.leftNumb {
  letter-spacing: -0.02em;
  color: #5d5fef;
}
.rightNumb {
  letter-spacing: -0.02em;
  color: #ef5da8;
}
