@import "../../VarsScss/mixins";
@import "../../VarsScss/variables";

.numbCont {
  position: absolute;
  display: flex;
  gap: clamp(28px, 6vw, 89px);
  height: clamp(73px, 15vw, 160px);
  top: clamp(0px, 15vw, 185px);
  left: clamp(-217px, -15vw, -217px);
  font-size: clamp(56px, 15vw, 200px);
  width: 100%;
  font-weight: 700;
  align-items: center;
  pointer-events: none;
  @media (max-width: 411px) {
    font-size: 56px;
  }
  @include mobile {
    width: fit-content;
    height: 73px;
    gap: 28px;
    top: 0;
    left: 20px;
    padding-bottom: clamp(30px, 5vw, 58px);
    border-bottom: 1px solid #c7cdd9;
  }
}

.leftNumb {
  letter-spacing: -0.02em;
  color: $accent-blue;
}

.rightNumb {
  letter-spacing: -0.02em;
  color: $accent-pink;
}
