@import "../VarsScss/variables";
@import "../VarsScss/mixins";

.circle {
  position: relative;
  width: clamp(300px, 40vw, 530px);
  height: clamp(300px, 40vw, 530px);
  border-radius: 50%;
  border: 1px solid $primary-color;
  margin: auto;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  @include flex-center;
  z-index: 1;

  @include mobile {
    display: none;
  }
}

.item {
  $dot-size: 6px;
  position: absolute;
  width: $dot-size;
  height: $dot-size;
  border-radius: 50%;
  background-color: black;
  color: $white;
  margin: 0;
  padding: 0;
  font-size: 0;
  @include mobile {
    position: relative;
    background-color: #42567a;
    opacity: 0.4;
  }
  &:hover,
  &.isActive {
    border: 1px solid $primary-color;
    background-color: $white;
    width: clamp(30px, 4vw, 56px);
    height: clamp(30px, 4vw, 56px);
    font-size: $main-font-size;
    transition: $default-transition;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    @include mobile {
      opacity: 1;
      width: $dot-size;
      height: $dot-size;
      background-color: #42567a;
    }
  }
}
.buttons-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: clamp(10px, 1.5vw, 20px);
  justify-content: center;
  width: 100%;

  @include mobile {
    bottom: calc(-49vh);
    gap: 10px;
    flex-wrap: wrap;
  }
}

.btnNumb {
  color: $primary-color;
  margin: 0;
  padding: 0;
  @include mobile {
    color: transparent;
  }
}

.btnText {
  $text-position: 15px;
  opacity: 0;
  color: $primary-color;
  margin: 0;
  top: $text-position;
  left: 430px;
  font-size: clamp(16px, 1.5vw, 20px);
  position: absolute;
  font-weight: 700;
  &.activeName {
    opacity: 1;
    transition: all 1s;
  }
  @include mobile {
    display: none;
  }
}
