@import "../VarsScss/variables";
@import "../VarsScss/mixins";

.circle {
  position: relative;
  width: $circle-size;
  height: $circle-size;
  border-radius: 50%;
  border: 1px solid $primary-color;
  margin: auto;
  @include flex-center;
  transform-origin: center;
  transition: transform 1s;
  z-index: 1;

  @include mobile {
    display: none;
  }
}

.item {
  $dot-size: 6px;
  position: absolute;
  width: $dot-size;
  height: $dot-size;
  border-radius: 50%;
  background-color: black;
  color: $white;
  margin: 0;
  padding: 0;
  font-size: 0;
  @include mobile {
    position: relative;
    background-color: #42567a;
    opacity: 0.4;
  }
  &:hover,
  &.isActive {
    border: 1px solid $primary-color;
    background-color: $white;
    width: 56px;
    height: 56px;
    font-size: $main-font-size;
    transition: $default-transition;
    @include mobile {
      opacity: 1;
      width: $dot-size;
      height: $dot-size;
      background-color: #42567a;
    }
  }
}
.buttons-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
  justify-content: center;
  width: 100%;

  @include mobile {
    bottom: -305px;
    gap: 10px;
    flex-wrap: wrap;
  }
}

.btnNumb {
  color: $primary-color;
  margin: 0;
  padding: 0;
  @include mobile {
    color: transparent;
  }
}

.btnText {
  $text-position: 15px;
  opacity: 0;
  color: $primary-color;
  margin: 0;
  top: $text-position;
  left: 430px;
  font-size: $main-font-size;
  position: absolute;
  font-weight: 700;
  &.activeName {
    opacity: 1;
    transition: all 1s;
  }
  @include mobile {
    display: none;
  }
}
